<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Analytics | Jobalytics&trade;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <div id="logo" class="text-center">
            <img src="img/Untitled.png" style="display:block; margin-top: 30px; margin-bottom:-100px; margin-left:auto; margin-right:auto">
        </div>
        <div id="app" class="container">
            <div>
            <h2>Original Image Confidence: This is a Drake with 97.8% confidence!</h2>
            <h2>Un-CNN Image Confidence: This is a Drake with 58.2% confidence!</h2>
                <form action="" method='POST'>
                    <button class="button transparent" style="margin-top: 90px">
                        <card data-image="img/ting.png"> <!-- ALTERED IMAGE-->
                            <h1 slot="header">Magic.</h1>
                            <p slot="content">Your Identify, Secured.</p>
                        </card>
                    </button>
                </form>
              </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'></script>
    <script src="js/index.js"></script>
</body>

</html>