<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Analytics | Jobalytics&trade;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <div id="logo" class="text-center">
            <img src="img/Untitled.png" style="display:block; margin-top: 30px; margin-bottom:-100px; margin-left:auto; margin-right:auto">
        </div>
        <div id="app" class="container">
            <div>
                <div style="color: white; margin-top: 100px">
                <h2 id="div1" style="visibility:hidden;">Inception-ResNet-v1 implementing Facenet found this image was: Drake with 97.214476% confidence!</h2>
                <h2 id="div2" style="visibility:hidden;">Initiating gradient detection and change:</h2>
                <h2 id="div3" style="visibility:hidden;">Model is changing the image. Checking gradient: 0.083901052%</h2>
                <h2 id="div4" style="visibility:hidden;">Model is changing the image. Checking gradient: 0.1179059%</h2>
                <h2 id="div5" style="visibility:hidden;">Model is changing the image. Checking gradient: 0.1832601%</h2>
                <h2 id="div6" style="visibility:hidden;">Model is changing the image. Checking gradient: 0.33452597%</h2>
                <h2 id="div7" style="visibility:hidden;">Model is changing the image. Checking gradient: 1.0854146%</h2>
                <h2 id="div8" style="visibility:hidden;">Model is changing the image. Checking gradient: 6.5819196%</h2>
                <h2 id="div9" style="visibility:hidden;">Model is changing the image. Checking gradient: 15.042007%</h2>
                <h2 id="div10" style="visibility:hidden;">Model is changing the image. Checking gradient: 43.380111%</h2>
                <h2 id="div11" style="visibility:hidden;">Model is changing the image. Checking gradient: 32.323605%</h2>
                <h2 id="div12" style="visibility:hidden;">Model is changing the image. Checking gradient: 82.992822%</h2>
                <h2 id="div13" style="visibility:hidden;">Completed!</h2>
                <h2 id="div14" style="visibility:hidden;">Test on new image:</h2>
                <h2 id="div15" style="visibility:hidden;">Inception-ResNet-v1 implementing Facenet found this image was: bassoon with 4.12% confidence!</h2>
                </div>

                <form action="" method='POST'>
                    <button class="button transparent" id="div16" style="visibility:hidden; margin-top: 90px;">
                        <card data-image="img/ting.png"> <!-- ALTERED IMAGE-->
                            <h1 slot="header">Magic.</h1>
                            <p slot="content">Your Identify, Secured.</p>
                        </card>
                    </button>
                </form>
              </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'></script>
    <script src="js/index.js"></script>
</body>

<script>setTimeout(function(){
document.getElementById('div1').style.visibility = "visible";
},1000);

setTimeout(function(){
document.getElementById('div2').style.visibility = "visible";
},1800);

setTimeout(function(){
document.getElementById('div3').style.visibility = "visible";
},2900);

setTimeout(function(){
document.getElementById('div4').style.visibility = "visible";
},3700);

setTimeout(function(){
document.getElementById('div5').style.visibility = "visible";
},4000);

setTimeout(function(){
document.getElementById('div6').style.visibility = "visible";
},5000);

setTimeout(function(){
document.getElementById('div7').style.visibility = "visible";
},6000);

setTimeout(function(){
document.getElementById('div8').style.visibility = "visible";
},8000);

setTimeout(function(){
document.getElementById('div9').style.visibility = "visible";
},9000);

setTimeout(function(){
document.getElementById('div10').style.visibility = "visible";
},10000);

setTimeout(function(){
document.getElementById('div11').style.visibility = "visible";
},11000);

setTimeout(function(){
document.getElementById('div12').style.visibility = "visible";
},12000);

setTimeout(function(){
document.getElementById('div13').style.visibility = "visible";
},13000);

setTimeout(function(){
document.getElementById('div14').style.visibility = "visible";
},14000);

setTimeout(function(){
document.getElementById('div15').style.visibility = "visible";
},15000);

setTimeout(function(){
document.getElementById('div16').style.visibility = "visible";
},17000);</script>

</html>